page-curva-transicao-dados {
    .input{
        background-color: white;
        width: 70px !important;
        height: auto;
        float: right;
        border: 1px solid #5e5e5e;
        text-align: center;
    }

    .label{
        float: left;
        font-family: cursive;

    }

    .espaco{
        margin-bottom:10px;
    }
}
