page-home {

    .butao{
        margin:auto;
        background-color: #164c9c;
    }

    .posicionaButao{
        padding-top: 80%;
        padding-bottom: 5px;
    }

    .tituloH{
        text-align: center;
        color: #142946;
        
    }

    .tituloH1{
        padding-top: 10%;
        text-align: center;
        color: #142946;
    }
}
