page-param-projeto-cs {
    .tabela{
        border: 1px solid !important;
        background-color: #FFC000 !important;
        text-align: center;
    }

    .titulo{
    border: 1px solid black;
    margin-bottom: 0px;
    background-color: #305496;
    font-size: x-large;
    text-align: center;
    padding: 10px;
    color: white;
    }

}
